@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0; 
    padding: 0;
    font-family: 'Teko', sans-serif;
}
#container{
    min-height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}
form{
    background-color: #05c46b;
    width: 28%;
    height: 400px;
    box-shadow: 10px 20px #ffd32a;
}
.form_group{
    margin-left: 89px;
    padding: 10px 10px;
}
.title{
    color: #ffd32a;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;

}
.text-form{
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.change{
    margin-left: 240px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
a{
    color: #ffd32a;
    text-decoration: none;
}
.submit{
    margin-left: 150px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    background: transparent;
    /* border: none */
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    border: 3px solid #ffd32a;
    color: #ffd32a  ;
}
.submit:hover{
    background-color: #ffd32a;
    color: white;
    border: none;
}
@media screen and (max-width:599px) {
    form{
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    form{
        width: 40%;
    }
    .form_group{
        margin-left: 110px;
        padding: 10px 10px;
    }

}
@media screen and (max-width:480px){
    form{
        width: 100%;
    }
}